mat-card {
  margin: 20px;
  padding: 20px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.login-message {
  text-align: center;
  font-size: 20px;
}
